body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 30px;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
